/* For use in src/lib/core/theming/_palette.scss */
$custom-primary: #6d4bc3;
$custom-accent: #1cb42e;
$custom-warn: #c74848;
$md-white: #ffffff;
$md-black: #303030;

/* For use in src/lib/core/theming/_palette.scss */
$md-primary: (
    50 : #ede9f8,
    100 : #d3c9ed,
    200 : #b6a5e1,
    300 : #9981d5,
    400 : #8366cc,
    500 : #6d4bc3,
    600 : #6544bd,
    700 : #5a3bb5,
    800 : #5033ae,
    900 : #3e23a1,
    A100 : #bfbeff,
    A200 : #8381ff,
    A400 : #6a67ff,
    A700 : #5c58ff,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-accent: (
    50 : #e4f6e6,
    100 : #bbe9c0,
    200 : #8eda97,
    300 : #60cb6d,
    400 : #3ebf4d,
    500 : #1cb42e,
    600 : #19ad29,
    700 : #14a423,
    800 : #119c1d,
    900 : #098c12,
    A100 : #94ff7f,
    A200 : #60ff42,
    A400 : #4bff28,
    A700 : #3eff19,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-warn: (
    50 : #f8e9e9,
    100 : #eec8c8,
    200 : #e3a4a4,
    300 : #d87f7f,
    400 : #cf6363,
    500 : #c74848,
    600 : #c14141,
    700 : #ba3838,
    800 : #b33030,
    900 : #a62121,
    A100 : #ffaab7,
    A200 : #ff6c83,
    A400 : #ff536d,
    A700 : #ff4460,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);